# Backend API URL (Use deployed backend URL on Vercel, e.g. https://ai-resume-backend.onrender.com)
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# Optional Google OAuth Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
